<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Demo</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="{{contextPath}}/" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Login</h1>
	<div class="container">
		{{#error}}
		<div class="alert alert-danger">{{.}}</div>
		{{/error}} {{#logout}}
		<div class="alert alert-info">{{.}}</div>
		{{/logout}}
		<form role="form" action="logout" method="post">
			{{#_csrf}} <input type="hidden" name="{{parameterName}}"
				value="{{token}}" />{{/_csrf}} <br />
			<div>
				You are authenticated as {{user}} to Cloud Foundry at <a
					href="{{api}}">{{api}}</a>.
			</div>
			<br />
			<button type="submit" class="btn btn-primary">Logout</button>
		</form>
	</div>
</body>
</html>